body 
{ 
font-family:”Comic Sans MS”, cursive; 
font-size:10px; 
text-align:center; 
} 
span 
{ 
font-family:”Times New Roman”, Times, serif; 
} 
.c1 
{ 
width:960px; 
height:637px; 
background-image:url(./background.png); 
} 
.c2 
{ 
width:300px; 
height:100px; 
position:absolute; 
top:50px; 
left:500px;
color: #FFFFFF;
font-size: 40px;
} 
.c3 
{ 
    width:200px; 
    height:100px; 
padding-top:10px; 
border-top:outset 1px #FFFFFF; 
position:absolute; 
top:350px; 
left:600px; 
text-align:left; 
color: #FFFFFF;
font-size: 20px;
} 
.c4
{
font-size: 60px;
margin-left: 10px;
padding-top: 10;
}
.c5
{
    padding-top: 30px;
}
.img
{
    padding-top: 10px;
padding-left: 50px;

}